---
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import Hero from "@components/Hero.astro";
---

<Layout title="Portfolio de Enrique Hidalgo, Desarollador y Programador Web">
  <Main>
    <Hero />
  </Main>
</Layout>
