---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio de Enrique Hidalgo, Desarollador y Programador Web">
	<h1 class="text-3xl text-center font-bold underline">This is the main page</h1>
</Layout>
