---
import ContactLinks from "./elements/ContactLinks.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 class="text-4xl text-neutral-800 dark:text-neutral-200">
  {t("contact.error-title")}
</h2>
<p class="text-lg text-neutral-500">
  {t("contact.error-message")}
</p>
<div class="flex justify-center gap-x-2">
  <ContactLinks />
</div>
