---
import ContactLinks from "./elements/ContactLinks.astro";
---

<h2 class="text-4xl text-neutral-800 dark:text-neutral-200">
  Hubo un error al intentar enviar el mensaje
</h2>
<p class="text-lg text-neutral-500">
  Intentalo de nuevo o prueba a ponerte en contacto conmigo a través de las
  siguientes redes:
</p>
<div class="flex justify-center gap-x-2">
  <ContactLinks />
</div>
