---
import { work as EXPERIENCE } from "@data/cv_es.json";
import ExperienceDetails from "./ExperienceDetails.astro";
---

<section id="experience">
  <h2 class="mb-4 text-2xl font-bold text-neutral-700 dark:text-neutral-300">
    Experiencia
  </h2>
  <ol class="relative border-s border-neutral-200 dark:border-neutral-800">
    {EXPERIENCE.map((work) => <ExperienceDetails {...work} />)}
  </ol>
</section>
