---
import { work } from "@data/cv.json";
import ExperienceDetails from "./ExperienceDetails.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const experience = t("experience.work") as typeof work;
---

<section id="experience">
  <h2 class="mb-4 text-2xl font-bold text-neutral-700 dark:text-neutral-300">
    {t("experience.title")}
  </h2>
  <ol class="relative mx-2 border-s border-neutral-200 dark:border-neutral-800">
    {experience.map((job) => <ExperienceDetails {...job} />)}
  </ol>
</section>
