---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
  startDate: string;
  endDate: string | null;
  highlights: string[];
  company: string;
  position: string;
  location: string;
}

const { startDate, company, endDate, highlights, position } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<li class="mb-10 ms-4">
  <div
    class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-indigo-300 dark:border-neutral-800 dark:bg-indigo-600"
  >
  </div>
  <time
    class="mb-1 text-sm font-normal leading-none text-neutral-600 dark:text-neutral-400"
    >{startDate} - {endDate ? endDate : t("experience.current")}</time
  >
  <h3 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200">
    {position}
  </h3>
  <h4 class="text-normal mb-4 text-neutral-700 dark:text-neutral-300">
    {company}
  </h4>
  {
    highlights.map((highlight) => (
      <p class="mb-4 text-pretty font-normal leading-relaxed text-neutral-500 dark:text-neutral-400">
        {highlight}
      </p>
    ))
  }
</li>
