---
type NavElement = {
  href: string;
  text: string;
};

const NAV_ELEMENTS: NavElement[] = [
  {
    href: "/",
    text: "Inicio",
  },
  {
    href: "projects",
    text: "Proyectos",
  },
  {
    href: "about",
    text: "Sobre mí",
  },
  {
    href: "/contact",
    text: "Contacto",
  },
];
---

<header
  class="z-100 sticky top-0 my-6 flex w-full justify-between bg-inherit py-8"
>
  <span
    class="inline-block cursor-pointer bg-gradient-to-r from-indigo-500 to-indigo-400 bg-clip-text text-center text-xl font-bold text-transparent"
  >
    ehdlg
  </span>
  <nav>
    <ul class="flex gap-x-8">
      {
        NAV_ELEMENTS.map((element) => (
          <li class="">
            <a href={element.href}>{element.text}</a>
          </li>
        ))
      }
      <li>
        <button type="button" id="toggle-theme"> Dark/Light </button>
      </li>
    </ul>
  </nav>
</header>

<script is:inline>
  const toggleButton = document.querySelector("#toggle-theme");

  toggleButton.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
  });
</script>
