---
import Badge from "./elements/HeroBadge.astro";
import {
  linkedin as linkedinLink,
  github as githubLink,
  mail as mailLink,
} from "@data/links.json";
import ContactLinks from "./elements/ContactLinks.astro";
---

<section>
  <div
    class="mb-6 flex items-center gap-x-2 text-neutral-700 dark:text-neutral-300"
  >
    <h1 class="text-5xl font-bold">¡Hola! 👋</h1>
    <Badge href={linkedinLink} ariaLabel="Ir al LinkedIn de Enrique Hidalgo"
      >Disponible para trabajar</Badge
    >
  </div>
  <div class="text-xl leading-loose">
    <p>
      Soy <b>Enrique</b>, desarrollador web de Granada.
    </p>
    <p>
      Interesado en bases de datos, interfaces minimalistas, experiencia de
      usuario y desarrollo de videojuegos.
    </p>
    <p>Valoro la constancia, la curiosidad y el aprendizaje continuo.</p>
  </div>
  <div class="mt-2 flex items-center gap-x-1">
    <ContactLinks />
  </div>
</section>
