---
import Badge from "./elements/HeroBadge.astro";
import { linkedin as linkedinLink } from "@data/links.json";
import ContactLinks from "./elements/ContactLinks.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const heroInfo = t("hero.info") as string[];
---

<section>
  <div
    class="mb-6 flex items-center gap-x-2 text-neutral-700 dark:text-neutral-300"
  >
    <h1 class="text-5xl font-bold">{t("hero.greeting")} 👋</h1>
    <Badge href={linkedinLink} ariaLabel="Ir al LinkedIn de Enrique Hidalgo"
      >{t("hero.badge")}</Badge
    >
  </div>
  <div class="text-xl leading-loose">
    {heroInfo.map((htmlInfo: string) => <p set:html={htmlInfo} />)}
  </div>
  <div class="mt-2 flex items-center gap-x-1">
    <ContactLinks />
  </div>
</section>
