<article>
  <h2 class="mb-4 text-4xl font-bold">¡Hola! 👋</h2>
  <div class="text-lg leading-loose">
    <p>
      Soy <b>Enrique</b>, desarrollador web de Granada.
    </p>
    <p>
      Interesado en bases de datos, interfaces minimalistas, experiencia de
      usuario y desarrollo de videojuegos.
    </p>
    <p>Valoro la constancia, la curiosidad y el aprendizaje continuo.</p>
  </div>
</article>
