---
import Badge from "./elements/Badge.astro";
import { linkedin as linkedinLink } from "@data/links.json";
---

<article>
  <div class="flex items-center gap-x-2">
    <h2 class="mb-6 text-5xl font-bold text-neutral-700 dark:text-neutral-300">
      ¡Hola! 👋
    </h2>
    <Badge href={linkedinLink}>Disponible para trabajar</Badge>
  </div>
  <div class="text-lg leading-loose">
    <p>
      Soy <b>Enrique</b>, desarrollador web de Granada.
    </p>
    <p>
      Interesado en bases de datos, interfaces minimalistas, experiencia de
      usuario y desarrollo de videojuegos.
    </p>
    <p>Valoro la constancia, la curiosidad y el aprendizaje continuo.</p>
  </div>
</article>
