---
import { getLangFromUrl } from "@i18n/utils";
import { languages } from "@i18n/ui";

const lang = getLangFromUrl(Astro.url);
---

{
  Object.entries(languages).map(([language, icon]) => {
    if (lang === language) return;

    return (
      <li>
        <a href={`/${language}`}>{icon}</a>
      </li>
    );
  })
}
