---
import SunIcon from "@icons/Sun.astro";
import MoonIcon from "@icons/Moon.astro";
import { ELEMENT_ID } from "@/constants";
---

<div>
  <input
    type="checkbox"
    name="toggle-dark"
    id={ELEMENT_ID.THEME}
    class="invisible absolute"
  />
  <label
    for="toggle-dark"
    class="space-between relative flex h-9 w-16 cursor-pointer items-center rounded-full border border-neutral-300 p-2 text-neutral-600 dark:border-neutral-700 dark:text-neutral-400"
  >
    <div
      class="absolute left-[3px] h-7 w-7 rounded-full bg-gradient-to-r from-indigo-500 to-indigo-400 transition ease-in"
      id={ELEMENT_ID.KNOB}
    >
    </div>
    <SunIcon class="size-7" />
    <MoonIcon class="size-7" />
  </label>
</div>
