---
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import Hero from "@components/Hero.astro";
import Projects from "@components/Projects.astro";
import Experience from "@components/Experience.astro";
import Contact from "@components/Contact.astro";
import { checkLangSupport } from "@/i18n/utils";
import { BASE_URL } from "@/constants";

const isLangSupported = checkLangSupport(Astro.url);

if (!isLangSupported) return Astro.redirect(BASE_URL);
---

<Layout>
  <Main>
    <Hero />
    <Projects />
    <Experience />
    <Contact />
  </Main>
</Layout>
