---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="p-4 transition duration-150 ease-in hover:-translate-y-1 hover:text-neutral-900 dark:text-neutral-400 hover:dark:text-neutral-100"
>
  <slot />
</a>
