---
interface Props {
  href: string;
  ariaLabel: string;
}

const { href, ariaLabel } = Astro.props;
---

<a
  href={href}
  aria-label={ariaLabel}
  target="_blank"
  class="p-2 text-neutral-600 transition duration-150 ease-in hover:scale-110 hover:text-neutral-900 dark:text-neutral-400 hover:dark:text-neutral-100"
>
  <slot />
</a>
