---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto box-border flex min-h-screen max-w-[1000px] flex-col bg-neutral-100 text-neutral-800 transition-colors duration-150 ease-in dark:bg-neutral-900 dark:text-neutral-200"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (undefined != typeof localStorage && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  const toggleKnob = document.getElementById("toggle-knob");

  if ("dark" === theme) {
    document.documentElement.classList.add("dark");
    toggleKnob.classList.add("translate-x-7");
  } else {
    document.documentElement.classList.remove("dark");
  }

  localStorage.setItem("theme", theme);
</script>
