---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import "@fontsource-variable/nunito";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🟣</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{t("layout.title")}</title>
    <script is:inline>
      const theme = (() => {
        if (undefined != typeof localStorage && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      const toggleKnob = document.getElementById("toggle-knob");

      if ("dark" === theme) {
        document.documentElement.classList.add("dark");
        toggleKnob.classList.add("translate-x-7");
      } else {
        document.documentElement.classList.remove("dark");
      }

      localStorage.setItem("theme", theme);
    </script>
  </head>
  <body
    class="mx-auto box-border flex min-h-screen max-w-[1024px] flex-col bg-neutral-100 px-2 text-neutral-800 transition-colors duration-150 ease-in dark:bg-neutral-900 dark:text-neutral-200"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
